body 
{
    background-color: #222222;
}

h1
{
    color: #f0f0f0;
    align-content: center;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: medium;
    font-family: Verdana, sans-serif;
    text-align: center;
}
