body 
{
    background-color: #222222;
}

.homepage_heading h1
{
    color: #f0f0f0;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 48px;
    font-family: Verdana, sans-serif;
    text-align: center;
    padding: 0px;
    margin: auto 72px auto auto;
    text-indent: 240px;
}

.homepage_heading hr
{
    color: #f0f0f0;
    margin: auto 72px auto 240px;
}

.sidenav
{
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidenav a
{
    padding: 8px 8px 8px 16px;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #f0f0f0;
    text-decoration: none;
    display: block;
}

.sidenav a:hover
{
    padding: 8px 8px 8px 16px;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    display: block
}

.sidenav p
{
    text-align: center;
    bottom: 8px;
    font-size: 10px;
    text-decoration: none;
    color: #f0f0f0;
    position: absolute;
}

.img1 img
{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 72px;
    height: 72px;
    text-align: right;
}

.img1 p
{
    display: inline-block;
    color: #f0f0f0;
    font-family: Verdana, sans-serif;
    font-size: 8px;
    float: right;
    text-align: right;
    width: 72px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
}

.text1
{
    background-color: #333333;
    font-weight: normal;
    border-radius: 16px;
    width: auto;
    align-content: center;
    height: auto;
    margin: auto 72px auto 240px;
}

.text1 p
{
    color: #f0f0f0;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    text-align: left;
    padding: 2px 8px 2px 8px;
}

.text1 h1
{
    color: #f0f0f0;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana, sans-serif;
    text-align: left;
    padding: 2px 8px 0px 8px;
    margin-bottom: -12px;
}

.text1 a
{
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #f0f0f0;
    text-decoration: underline;
}

.text1 a:hover
{
    font-size: 16px;
    color: #ffffff;
    text-decoration: underline;
}

